<header>
    <h2>Administratiepagina</h2>
    <a href="http://localhost:8080/">
        < Terug</a>
</header>

<main>
    <div class="container">
        <p>Welkom op de administratiepagina van de memory game!</p>
    </div>

    <div class="table" id="playedGames">
        <div class="container">
            <h3>Speloverzicht</h3>
            <table id="playerScores">
                <tr>
                    <th>Spel</th>
                    <th>Datum</th>
                    <th>Score</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>donderdag 12 januari 2023</td>
                    <td>123</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>dinsdag 17 januari 2023</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>woensdag 18 januari 2023</td>
                    <td>26</td>
                </tr>
            </table>
        </div>
    </div>
</main>