header,
main {
    width: 75%;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

header {
    padding: 10px 0 25px 0;
}

h2 {
    margin-top: 0;
}

a:hover {
    text-decoration: none;
}

.table {
    border: 3px solid #f1f1f1;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 16px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button:not(.btn-default) {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}

#playerScores {
    width: 100%;
    border-collapse: collapse;
}

#playerScores th {
    text-align: left;
    color: #FFF;
    background-color: #04AA6D;
    padding: 12px 0;
}

#playerScores th,
#playerScores td {
    border: 1px solid #DDD;
    padding: 8px;
}

#playerScores tr:nth-child(even) {
    background-color: #F2F2F2;
}

#playerScores tr:hover {
    background-color: #DDD;
}


@media only screen and (max-width: 768px) {

    header,
    main {
        width: 100%;
    }
}