header,
main {
    width: 50%;
}

h1 {
    margin-top: 0;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 10vw;
    border-radius: 50%;
}

.error-message {
    font-weight: bold;
    color: red;
}


@media only screen and (max-width: 768px) {

    header,
    main {
        width: 100%;
    }
}