<div *ngIf="getData()" class="form">
    <div class="container">

        <h2>Spelers</h2>
        <p>Klik op een speler voor meer informatie.</p>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Gebruikersnaam</th>
                    <th>E-mailadres</th>
                </tr>
            </thead>
            <tbody>
                <!-- Because we only get the username, and email from the API, and no user id is present, we use the index as id here -->
                <tr *ngFor="let p of getData(); index as i" (click)="showPlayer(playerId.innerText)" class="clickable">
                    <td #playerId>{{ (i + 1) }}</td>
                    <td><a href="javascript:;">{{ p.username }}</a></td>
                    <td>{{ p.email }}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>